<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
  <title>Exercício 12</title>
  <link href="model.component.css" rel="stylesheet">
</head>

<body>
    <div id="um" style="margin-top: 30px; margin-left: 30px;">
    </div>

    <div id="dois" style="margin-top: -650px; margin-left: 800px;">
    </div>

    <div style="margin-left: 1000px;">
        <h1></h1>
    </div>

    <div id="tres" style="margin-top: -10px; margin-left: 800px;">
    </div>

    <div id="texto">
        <h1>Olá Mundo</h1>
    </div>
</body>